{% extends 'base2.html' %}

{% block titulo %}
Instituciones
{% endblock titulo %}

{% block contenido %}
<h1>Instituciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Dirección</th>
            <th>Télefono</th>
            <th>E-mail</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for institucion in object_list %}
        <tr>
            <td>{{institucion.nombre}}</td>
            <td>{{institucion.descripcion}}</td>
            <td>{{institucion.direccion}}</td>
            <td>{{institucion.telefono}}</td>
            <td>{{institucion.mail}}</td>
            <td><img width="60px" src="{{MEDIA_URL}}{{institucion.imagen}}" alt="{{institucion.imagen}}"> </td>
            <td>
                <a class="btn btn-outline-danger btn-sm"
                    href="{% url 'eliminar_institucion' institucion.pk %}">Eliminar</a>
                <a class="btn btn-outline-primary btn-sm"
                    href="{% url 'editar_institucion' institucion.pk %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}